<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../css/media_query.css" rel="stylesheet" type="text/css"/>
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="../css/admin.css" rel="stylesheet" type="text/css"/>    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="../css/animate.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="../css/owl.carousel.css" rel="stylesheet" type="text/css"/>
    <link href="../css/owl.theme.default.css" rel="stylesheet" type="text/css"/>
    <!-- Bootstrap CSS -->
    <link href="../css/style_1.css" rel="stylesheet" type="text/css"/>
    <!-- Modernizr JS -->
    <script src="../js/modernizr-3.5.0.min.js"></script>
    <script src="../js/ckeditor/ckeditor.js"></script>
    <title>Share your Thoughts</title>
</head>
<body>

        <div class="container contact-form" style="margin-top: 4%;width:87%">
                <div class="contact-image">
                    <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
                </div>
                <form method="post">
                    <h3>Share your Thoughts..!</h3>
                   <div class="row">
                        <div class="col-md-12">
                            <div  class="form-group">
                                <input style="text-align:center" type="text"  name="txtName" id="name" class="form-control" placeholder="Your Name *" value="" />
                            </div>
                            <div  class="form-group">
                                <input style="text-align:center" type="email"  name="txtEmail" id="email" class="form-control" placeholder="Your Email *" value="" />
                            </div>
                            <div   class="form-group">
                                <input style="text-align:center" type="text"  name="txtPhone" id="phone" class="form-control" maxlength="10" placeholder="Your Phone Number *" value="" />
                            </div>
                            <div   class="form-group">
                                <input style="text-align:center" type="text"  name="blogtitle" id="blogtitle" class="form-control"  placeholder="Enter your Blog title here *" value="" />
                            </div>
                            <div class="form-group">
                                <textarea style="text-align:center" rows="7"  style="text-align:center" name="short-msg" class="form-control" id="short-msg" placeholder="Fill in with your short description *" style="width: 100%; height: 150px;"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div  class="form-group">
                                <textarea style="text-align:center" name="Msg" class="form-control" id="msg" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                            </div>
                            <div style="text-align:center" class="form-group" >
                                <button type="button" name="btnSubmit" onclick="savepost()" class="btnContact post-button" value="">Submit</button>
                            </div>
                        </div>
                        
                    </div>
                    <script>
                        // Replace the <textarea id="editor1"> with a CKEditor
                        // instance, using default configuration.
                        CKEDITOR.replace( 'msg' );
                    </script>
                    
                </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../js/post.js"></script>
</body>
</html>